%li.pull-left.col-md-offset-1{'ng-controller' => 'MenuItemsController'}
  %span.dropdown{'on-toggle' => "toggled(open)" }
    %a.dropdown-toggle{'href' => ''}= 'Graph'
    %ul.dropdown-menu
      %li{'ng-repeat' => 'item in data.items'}
        %a{'href' => '', 'ng-click' => "viewGraph(item.name)"} {{ item.name }}
