%aside.flash.row
  %article.col-md-6.col-md-offset-3.col-sm-12{ 'active-class' => "alert",
    "flash-alert" => '',
    "duration" => "0"} {{ flash.message }}
%section.col-md-6.col-md-offset-3
  %article.panel.panel-info
    %header.panel-heading
      %h1 {{ data.note.kanji }}
    %p.panel-body {{ data.note.kana }}
    %p.panel-body {{ data.note.meaning }}

  %button.btn.btn-default{ 'ng-click' => 'back()' }
    &larr; Back
