ul.nav-bar {
  list-style: none;
}

.nav-bar-container {
  padding-bottom: 35px;
  border-bottom: 1px solid #ccc;
}

.app-body {
  margin-top: 20px;
}

#new-note {
  .form-group {
    display: inline-block;
  }

  input.form-control {
    height: 26px;
    padding: 0px;
  }

  button.btn-sm {
    padding: 3px 10px;
  }
}
